@import './styles/theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--bgDark);
}

.wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  position: relative;
}

.img {
  position: fixed;
  bottom: 32px;
  right: 400px;
  background: #6C63FF;
  border-radius: 50%;
  padding: 13px;
  cursor: pointer;
} 